-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('USER', 'ADMIN', 'PREMIUM');

-- CreateEnum
CREATE TYPE "ApplicationStatus" AS ENUM ('PLANNED', 'APPLIED', 'ACCEPTED', 'REJECTED', 'WAITLISTED');

-- CreateEnum
CREATE TYPE "ArticleStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'ARCHIVED', 'PENDING', 'REJECTED');

-- CreateEnum
CREATE TYPE "ReviewStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "InstitutionType" AS ENUM ('PUBLIC', 'PRIVATE_NON_PROFIT', 'PRIVATE_FOR_PROFIT');

-- CreateEnum
CREATE TYPE "CampusSetting" AS ENUM ('URBAN', 'SUBURBAN', 'RURAL');

-- CreateEnum
CREATE TYPE "AcademicCalendar" AS ENUM ('SEMESTER', 'QUARTER', 'TRIMESTER');

-- CreateEnum
CREATE TYPE "TestPolicy" AS ENUM ('REQUIRED', 'OPTIONAL', 'BLIND');

-- CreateEnum
CREATE TYPE "ClaimStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'VERIFIED', 'UNDER_REVIEW', 'PENDING_DOCUMENTS', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ReferralStatus" AS ENUM ('PENDING', 'COMPLETED');

-- CreateEnum
CREATE TYPE "ProfileVisibility" AS ENUM ('PUBLIC', 'PRIVATE', 'FOLLOWERS_ONLY');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "clerkId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "avatarUrl" TEXT,
    "gpa" DOUBLE PRECISION,
    "satScore" INTEGER,
    "actScore" INTEGER,
    "preferredMajor" TEXT,
    "dreamJobTitle" TEXT,
    "careerGoals" TEXT[],
    "preferredLearningStyle" TEXT,
    "personalityType" TEXT,
    "hobbies" TEXT[],
    "languagesSpoken" TEXT[],
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "referralCode" TEXT,
    "referredBy" TEXT,
    "accountType" TEXT,
    "focusArea" TEXT,
    "onboarded" BOOLEAN NOT NULL DEFAULT false,
    "onboardingAnswers" JSONB,
    "organizationName" TEXT,
    "personaRole" TEXT,
    "primaryGoal" TEXT,
    "onboardingSkipped" BOOLEAN NOT NULL DEFAULT false,
    "profileSettings" JSONB,
    "profileVisibility" "ProfileVisibility" NOT NULL DEFAULT 'PRIVATE',
    "username" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "University" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT,
    "description" TEXT,
    "logoUrl" TEXT,
    "heroImageUrl" TEXT,
    "websiteUrl" TEXT,
    "established" INTEGER,
    "address" TEXT,
    "city" TEXT NOT NULL,
    "state" TEXT,
    "zipCode" TEXT,
    "country" TEXT NOT NULL DEFAULT 'USA',
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "climateZone" TEXT,
    "nearestAirport" TEXT,
    "region" TEXT,
    "type" "InstitutionType",
    "classification" TEXT,
    "religiousAffiliation" TEXT,
    "setting" "CampusSetting",
    "campusSizeAcres" INTEGER,
    "acceptanceRate" DOUBLE PRECISION,
    "applicationFee" INTEGER,
    "commonAppAccepted" BOOLEAN NOT NULL DEFAULT false,
    "applicationDeadline" TIMESTAMP(3),
    "earlyDecisionDeadline" TIMESTAMP(3),
    "testPolicy" "TestPolicy",
    "minGpa" DOUBLE PRECISION,
    "avgGpa" DOUBLE PRECISION,
    "satMath25" INTEGER,
    "satMath75" INTEGER,
    "satVerbal25" INTEGER,
    "satVerbal75" INTEGER,
    "actComposite25" INTEGER,
    "actComposite75" INTEGER,
    "avgSatScore" INTEGER,
    "avgActScore" INTEGER,
    "internationalEngReqs" JSONB,
    "tuitionInState" INTEGER,
    "tuitionOutState" INTEGER,
    "tuitionInternational" INTEGER,
    "roomAndBoard" INTEGER,
    "booksAndSupplies" INTEGER,
    "costOfLiving" INTEGER,
    "percentReceivingAid" DOUBLE PRECISION,
    "averageGrantAid" INTEGER,
    "averageNetPrice" INTEGER,
    "scholarshipsIntl" BOOLEAN NOT NULL DEFAULT false,
    "needBlindAdmission" BOOLEAN NOT NULL DEFAULT false,
    "studentPopulation" INTEGER,
    "undergraduatePopulation" INTEGER,
    "graduatePopulation" INTEGER,
    "studentFacultyRatio" DOUBLE PRECISION,
    "percentMale" DOUBLE PRECISION,
    "percentFemale" DOUBLE PRECISION,
    "percentInternational" DOUBLE PRECISION,
    "diversityScore" DOUBLE PRECISION,
    "graduationRate" DOUBLE PRECISION,
    "retentionRate" DOUBLE PRECISION,
    "employmentRate" DOUBLE PRECISION,
    "averageStartingSalary" INTEGER,
    "internshipSupport" INTEGER,
    "alumniNetwork" INTEGER,
    "visaDurationMonths" INTEGER,
    "academicCalendar" "AcademicCalendar",
    "sportsDivision" TEXT,
    "hasHousing" BOOLEAN NOT NULL DEFAULT true,
    "studentLifeScore" DOUBLE PRECISION,
    "safetyRating" DOUBLE PRECISION,
    "partySceneRating" DOUBLE PRECISION,
    "popularMajors" TEXT[],
    "degreeLevels" TEXT[],
    "languages" TEXT[],
    "studentLifeTags" TEXT[],
    "rankings" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "claimedAt" TIMESTAMP(3),
    "claimedById" TEXT,
    "ROIPercentage" DOUBLE PRECISION,
    "alumniEarnings10Years" INTEGER,
    "alumniEarnings5Years" INTEGER,
    "averageSalaryByMajor" JSONB,
    "citationIndex" INTEGER,
    "fundedResearch" INTEGER,
    "geographicDiversityScore" DOUBLE PRECISION,
    "industryPartnerships" TEXT[],
    "internshipPlacementRate" DOUBLE PRECISION,
    "partnerCompaniesCount" INTEGER,
    "researchOutputScore" DOUBLE PRECISION,
    "studentSatisfactionScore" DOUBLE PRECISION,
    "timeToEmploymentMonths" INTEGER,

    CONSTRAINT "University_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SavedUniversity" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "universityId" TEXT NOT NULL,
    "status" "ApplicationStatus" NOT NULL DEFAULT 'PLANNED',
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SavedUniversity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UniversityClaim" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "universityId" TEXT,
    "status" "ClaimStatus" NOT NULL DEFAULT 'PENDING',
    "institutionalEmail" TEXT NOT NULL,
    "verificationDocuments" TEXT[],
    "position" TEXT,
    "department" TEXT,
    "comments" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "adminNotes" TEXT,
    "expiresAt" TIMESTAMP(3),
    "requesterEmail" TEXT NOT NULL DEFAULT '',
    "requesterName" TEXT NOT NULL DEFAULT '',
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "universityGroupId" TEXT,
    "viewedAt" TIMESTAMP(3),

    CONSTRAINT "UniversityClaim_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FinancialProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "maxBudget" INTEGER,
    "householdIncome" INTEGER,
    "familySize" INTEGER,
    "savings" INTEGER,
    "investments" INTEGER,
    "expectedFamilyContribution" INTEGER,
    "eligibleForPellGrant" BOOLEAN NOT NULL DEFAULT false,
    "eligibleForStateAid" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "needsFinancialAid" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "FinancialProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AcademicProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "gpa" DOUBLE PRECISION,
    "gpaScale" INTEGER,
    "testScores" JSONB,
    "highSchoolName" TEXT,
    "gradYear" INTEGER,
    "primaryMajor" TEXT,
    "secondaryMajor" TEXT,
    "extracurriculars" TEXT[],
    "academicHonors" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AcademicProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comparison" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "universityIds" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "description" TEXT,

    CONSTRAINT "Comparison_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "link" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Referral" (
    "id" TEXT NOT NULL,
    "referrerId" TEXT NOT NULL,
    "referredUserId" TEXT NOT NULL,
    "status" "ReferralStatus" NOT NULL DEFAULT 'PENDING',
    "rewardClaimed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "rewardAmount" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Referral_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Category" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tag" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Article" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "excerpt" TEXT,
    "content" TEXT NOT NULL,
    "featuredImage" TEXT,
    "status" "ArticleStatus" NOT NULL DEFAULT 'DRAFT',
    "publishedAt" TIMESTAMP(3),
    "metaTitle" TEXT,
    "metaDescription" TEXT,
    "authorId" TEXT NOT NULL,
    "categoryId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "canonicalUrl" TEXT,
    "focusKeyword" TEXT,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "ogImage" TEXT,
    "rejectionReason" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "shareCount" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Article_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ArticleLike" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ArticleLike_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ArticleAnalytics" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "views" INTEGER NOT NULL DEFAULT 0,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "comments" INTEGER NOT NULL DEFAULT 0,
    "shares" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "ArticleAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comment" (
    "id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "downvotes" INTEGER NOT NULL DEFAULT 0,
    "upvotes" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Comment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review" (
    "id" TEXT NOT NULL,
    "rating" DOUBLE PRECISION NOT NULL,
    "academicRating" DOUBLE PRECISION,
    "campusRating" DOUBLE PRECISION,
    "socialRating" DOUBLE PRECISION,
    "careerRating" DOUBLE PRECISION,
    "title" TEXT,
    "content" TEXT NOT NULL,
    "status" "ReviewStatus" NOT NULL DEFAULT 'PENDING',
    "universityId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "anonymous" BOOLEAN NOT NULL DEFAULT false,
    "helpfulCount" INTEGER NOT NULL DEFAULT 0,
    "verified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Review_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UniversityGroup" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "logoUrl" TEXT,
    "website" TEXT,
    "memberCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "claimedAt" TIMESTAMP(3),
    "claimedById" TEXT,

    CONSTRAINT "UniversityGroup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MicroContent" (
    "id" TEXT NOT NULL,
    "universityId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MicroContent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StaticPage" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "metaTitle" TEXT,
    "metaDescription" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StaticPage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Badge" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "iconUrl" TEXT,
    "category" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Badge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserBadge" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "badgeId" TEXT NOT NULL,
    "awardedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UniversityMetricHistory" (
    "id" TEXT NOT NULL,
    "universityId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "ranking" INTEGER,
    "acceptanceRate" DOUBLE PRECISION,
    "tuitionCost" INTEGER,
    "employmentRate" DOUBLE PRECISION,
    "averageSalary" INTEGER,
    "studentCount" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UniversityMetricHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnalysisWeights" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "ranking" DOUBLE PRECISION NOT NULL DEFAULT 0.25,
    "cost" DOUBLE PRECISION NOT NULL DEFAULT 0.25,
    "acceptance" DOUBLE PRECISION NOT NULL DEFAULT 0.15,
    "employmentRate" DOUBLE PRECISION NOT NULL DEFAULT 0.15,
    "studentSatisfaction" DOUBLE PRECISION NOT NULL DEFAULT 0.10,
    "research" DOUBLE PRECISION NOT NULL DEFAULT 0.10,
    "targetSalary" INTEGER,
    "careerFocus" TEXT,
    "preferredLocation" TEXT,
    "internshipImportant" BOOLEAN NOT NULL DEFAULT false,
    "researchImportant" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AnalysisWeights_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ComparisonRiskAssessment" (
    "id" TEXT NOT NULL,
    "comparisonId" TEXT NOT NULL,
    "universityId" TEXT NOT NULL,
    "riskFactors" JSONB NOT NULL,
    "overallRiskScore" DOUBLE PRECISION NOT NULL,
    "recommendations" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ComparisonRiskAssessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ComparisonInsight" (
    "id" TEXT NOT NULL,
    "comparisonId" TEXT NOT NULL,
    "insight" TEXT NOT NULL,
    "insightType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ComparisonInsight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ArticlePrediction" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "inputHash" TEXT NOT NULL,
    "features" JSONB NOT NULL,
    "result" JSONB NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ArticlePrediction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SystemBenchmark" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "rpm" DOUBLE PRECISION NOT NULL,
    "avgSearchVolume" INTEGER NOT NULL,
    "avgCTR" DOUBLE PRECISION NOT NULL,
    "seasonalMultiplier" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "competitionLevel" INTEGER NOT NULL DEFAULT 5,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SystemBenchmark_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Video" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "url" TEXT NOT NULL,
    "publicId" TEXT,
    "type" TEXT NOT NULL,
    "thumbnailUrl" TEXT,
    "position" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Video_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClaimMessage" (
    "id" TEXT NOT NULL,
    "claimId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "senderRole" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "requestedDocuments" TEXT[],
    "attachments" TEXT[],
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ClaimMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_GroupMembership" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_GroupMembership_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_ArticleToTag" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ArticleToTag_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_clerkId_key" ON "User"("clerkId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_referralCode_key" ON "User"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE INDEX "User_clerkId_idx" ON "User"("clerkId");

-- CreateIndex
CREATE INDEX "User_username_idx" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "University_slug_key" ON "University"("slug");

-- CreateIndex
CREATE INDEX "University_slug_idx" ON "University"("slug");

-- CreateIndex
CREATE INDEX "University_country_idx" ON "University"("country");

-- CreateIndex
CREATE INDEX "University_name_idx" ON "University"("name");

-- CreateIndex
CREATE INDEX "University_tuitionOutState_idx" ON "University"("tuitionOutState");

-- CreateIndex
CREATE INDEX "University_avgSatScore_idx" ON "University"("avgSatScore");

-- CreateIndex
CREATE UNIQUE INDEX "SavedUniversity_userId_universityId_key" ON "SavedUniversity"("userId", "universityId");

-- CreateIndex
CREATE INDEX "UniversityClaim_userId_idx" ON "UniversityClaim"("userId");

-- CreateIndex
CREATE INDEX "UniversityClaim_universityId_idx" ON "UniversityClaim"("universityId");

-- CreateIndex
CREATE INDEX "UniversityClaim_universityGroupId_idx" ON "UniversityClaim"("universityGroupId");

-- CreateIndex
CREATE INDEX "UniversityClaim_status_idx" ON "UniversityClaim"("status");

-- CreateIndex
CREATE UNIQUE INDEX "FinancialProfile_userId_key" ON "FinancialProfile"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "AcademicProfile_userId_key" ON "AcademicProfile"("userId");

-- CreateIndex
CREATE INDEX "AcademicProfile_userId_idx" ON "AcademicProfile"("userId");

-- CreateIndex
CREATE INDEX "AcademicProfile_gradYear_idx" ON "AcademicProfile"("gradYear");

-- CreateIndex
CREATE INDEX "AcademicProfile_gpa_idx" ON "AcademicProfile"("gpa");

-- CreateIndex
CREATE INDEX "AcademicProfile_primaryMajor_idx" ON "AcademicProfile"("primaryMajor");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_isRead_idx" ON "Notification"("isRead");

-- CreateIndex
CREATE UNIQUE INDEX "Referral_referredUserId_key" ON "Referral"("referredUserId");

-- CreateIndex
CREATE INDEX "Referral_referrerId_idx" ON "Referral"("referrerId");

-- CreateIndex
CREATE INDEX "Referral_status_idx" ON "Referral"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Category_slug_key" ON "Category"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Tag_name_key" ON "Tag"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Tag_slug_key" ON "Tag"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Article_slug_key" ON "Article"("slug");

-- CreateIndex
CREATE INDEX "Article_slug_idx" ON "Article"("slug");

-- CreateIndex
CREATE INDEX "Article_status_idx" ON "Article"("status");

-- CreateIndex
CREATE INDEX "Article_authorId_idx" ON "Article"("authorId");

-- CreateIndex
CREATE INDEX "ArticleLike_articleId_idx" ON "ArticleLike"("articleId");

-- CreateIndex
CREATE INDEX "ArticleLike_userId_idx" ON "ArticleLike"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "ArticleLike_articleId_userId_key" ON "ArticleLike"("articleId", "userId");

-- CreateIndex
CREATE INDEX "ArticleAnalytics_articleId_idx" ON "ArticleAnalytics"("articleId");

-- CreateIndex
CREATE INDEX "ArticleAnalytics_date_idx" ON "ArticleAnalytics"("date");

-- CreateIndex
CREATE UNIQUE INDEX "ArticleAnalytics_articleId_date_key" ON "ArticleAnalytics"("articleId", "date");

-- CreateIndex
CREATE INDEX "Review_universityId_idx" ON "Review"("universityId");

-- CreateIndex
CREATE INDEX "Review_status_idx" ON "Review"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Review_userId_universityId_key" ON "Review"("userId", "universityId");

-- CreateIndex
CREATE UNIQUE INDEX "UniversityGroup_slug_key" ON "UniversityGroup"("slug");

-- CreateIndex
CREATE INDEX "MicroContent_universityId_idx" ON "MicroContent"("universityId");

-- CreateIndex
CREATE UNIQUE INDEX "StaticPage_slug_key" ON "StaticPage"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Badge_slug_key" ON "Badge"("slug");

-- CreateIndex
CREATE INDEX "Badge_slug_idx" ON "Badge"("slug");

-- CreateIndex
CREATE INDEX "Badge_category_idx" ON "Badge"("category");

-- CreateIndex
CREATE INDEX "UserBadge_userId_idx" ON "UserBadge"("userId");

-- CreateIndex
CREATE INDEX "UserBadge_badgeId_idx" ON "UserBadge"("badgeId");

-- CreateIndex
CREATE UNIQUE INDEX "UserBadge_userId_badgeId_key" ON "UserBadge"("userId", "badgeId");

-- CreateIndex
CREATE INDEX "UniversityMetricHistory_universityId_idx" ON "UniversityMetricHistory"("universityId");

-- CreateIndex
CREATE INDEX "UniversityMetricHistory_year_idx" ON "UniversityMetricHistory"("year");

-- CreateIndex
CREATE UNIQUE INDEX "UniversityMetricHistory_universityId_year_key" ON "UniversityMetricHistory"("universityId", "year");

-- CreateIndex
CREATE UNIQUE INDEX "AnalysisWeights_userId_key" ON "AnalysisWeights"("userId");

-- CreateIndex
CREATE INDEX "AnalysisWeights_userId_idx" ON "AnalysisWeights"("userId");

-- CreateIndex
CREATE INDEX "ComparisonRiskAssessment_comparisonId_idx" ON "ComparisonRiskAssessment"("comparisonId");

-- CreateIndex
CREATE INDEX "ComparisonRiskAssessment_universityId_idx" ON "ComparisonRiskAssessment"("universityId");

-- CreateIndex
CREATE UNIQUE INDEX "ComparisonRiskAssessment_comparisonId_universityId_key" ON "ComparisonRiskAssessment"("comparisonId", "universityId");

-- CreateIndex
CREATE INDEX "ComparisonInsight_comparisonId_idx" ON "ComparisonInsight"("comparisonId");

-- CreateIndex
CREATE INDEX "ComparisonInsight_insightType_idx" ON "ComparisonInsight"("insightType");

-- CreateIndex
CREATE UNIQUE INDEX "ArticlePrediction_inputHash_key" ON "ArticlePrediction"("inputHash");

-- CreateIndex
CREATE INDEX "ArticlePrediction_articleId_idx" ON "ArticlePrediction"("articleId");

-- CreateIndex
CREATE INDEX "ArticlePrediction_inputHash_idx" ON "ArticlePrediction"("inputHash");

-- CreateIndex
CREATE INDEX "ArticlePrediction_createdAt_idx" ON "ArticlePrediction"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "SystemBenchmark_category_key" ON "SystemBenchmark"("category");

-- CreateIndex
CREATE INDEX "SystemBenchmark_category_idx" ON "SystemBenchmark"("category");

-- CreateIndex
CREATE INDEX "Video_isActive_position_idx" ON "Video"("isActive", "position");

-- CreateIndex
CREATE INDEX "Video_createdAt_idx" ON "Video"("createdAt");

-- CreateIndex
CREATE INDEX "ClaimMessage_claimId_idx" ON "ClaimMessage"("claimId");

-- CreateIndex
CREATE INDEX "ClaimMessage_senderId_idx" ON "ClaimMessage"("senderId");

-- CreateIndex
CREATE INDEX "_GroupMembership_B_index" ON "_GroupMembership"("B");

-- CreateIndex
CREATE INDEX "_ArticleToTag_B_index" ON "_ArticleToTag"("B");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_referredBy_fkey" FOREIGN KEY ("referredBy") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "University" ADD CONSTRAINT "University_claimedById_fkey" FOREIGN KEY ("claimedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedUniversity" ADD CONSTRAINT "SavedUniversity_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedUniversity" ADD CONSTRAINT "SavedUniversity_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityClaim" ADD CONSTRAINT "UniversityClaim_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityClaim" ADD CONSTRAINT "UniversityClaim_universityGroupId_fkey" FOREIGN KEY ("universityGroupId") REFERENCES "UniversityGroup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityClaim" ADD CONSTRAINT "UniversityClaim_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityClaim" ADD CONSTRAINT "UniversityClaim_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinancialProfile" ADD CONSTRAINT "FinancialProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AcademicProfile" ADD CONSTRAINT "AcademicProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comparison" ADD CONSTRAINT "Comparison_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_referredUserId_fkey" FOREIGN KEY ("referredUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Referral" ADD CONSTRAINT "Referral_referrerId_fkey" FOREIGN KEY ("referrerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Article" ADD CONSTRAINT "Article_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Article" ADD CONSTRAINT "Article_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Article" ADD CONSTRAINT "Article_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ArticleLike" ADD CONSTRAINT "ArticleLike_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ArticleLike" ADD CONSTRAINT "ArticleLike_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ArticleAnalytics" ADD CONSTRAINT "ArticleAnalytics_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Comment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityGroup" ADD CONSTRAINT "UniversityGroup_claimedById_fkey" FOREIGN KEY ("claimedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MicroContent" ADD CONSTRAINT "MicroContent_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBadge" ADD CONSTRAINT "UserBadge_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES "Badge"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBadge" ADD CONSTRAINT "UserBadge_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UniversityMetricHistory" ADD CONSTRAINT "UniversityMetricHistory_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnalysisWeights" ADD CONSTRAINT "AnalysisWeights_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ComparisonRiskAssessment" ADD CONSTRAINT "ComparisonRiskAssessment_comparisonId_fkey" FOREIGN KEY ("comparisonId") REFERENCES "Comparison"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ComparisonRiskAssessment" ADD CONSTRAINT "ComparisonRiskAssessment_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ComparisonInsight" ADD CONSTRAINT "ComparisonInsight_comparisonId_fkey" FOREIGN KEY ("comparisonId") REFERENCES "Comparison"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ArticlePrediction" ADD CONSTRAINT "ArticlePrediction_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "Article"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClaimMessage" ADD CONSTRAINT "ClaimMessage_claimId_fkey" FOREIGN KEY ("claimId") REFERENCES "UniversityClaim"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClaimMessage" ADD CONSTRAINT "ClaimMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GroupMembership" ADD CONSTRAINT "_GroupMembership_A_fkey" FOREIGN KEY ("A") REFERENCES "University"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_GroupMembership" ADD CONSTRAINT "_GroupMembership_B_fkey" FOREIGN KEY ("B") REFERENCES "UniversityGroup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ArticleToTag" ADD CONSTRAINT "_ArticleToTag_A_fkey" FOREIGN KEY ("A") REFERENCES "Article"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ArticleToTag" ADD CONSTRAINT "_ArticleToTag_B_fkey" FOREIGN KEY ("B") REFERENCES "Tag"("id") ON DELETE CASCADE ON UPDATE CASCADE;

